name: Pre-Commit

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

jobs:
  pre-commit:
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-pre-commit.yml@revert_coverage_hack
    strategy:
      fail-fast: false
      matrix:
        ROS_DISTRO: [iron, humble]
    with:
      ros_distro: ${{ matrix.ROS_DISTRO }}
      os_name: ubuntu-22.04

  pre-commit-rolling:
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-pre-commit.yml@revert_coverage_hack
    with:
      ros_distro: rolling
      container: ubuntu:24.04
