name: Jazzy Debian Build
on:
  workflow_dispatch:
  pull_request:
    branches:
      - jazzy
  schedule:
    # Run every day to detect flakiness and broken dependencies
    - cron: '33 2 * * *'

concurrency:
  # cancel previous runs of the same workflow, except for pushes on jazzy branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !startsWith(github.ref, '/refs/heads') }}

jobs:
  debian_source_build:
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-debian-build.yml@master
    with:
      ros_distro: jazzy
      upstream_workspace: realtime_tools.jazzy.repos
      ref_for_scheduled_build: jazzy
