name: Jazzy Source Build
on:
  workflow_dispatch:
  push:
    branches:
      - jazzy
  schedule:
    # Run every day to detect flakiness and broken dependencies
    - cron: '03 3 * * MON-FRI'

jobs:
  source:
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-ros-tooling-source-build.yml@master
    with:
      ros_distro: jazzy
      ref: jazzy
      os_name: ubuntu-latest
      container: ubuntu:24.04
